@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
    background-color: #E5FCF5;
    font-family: Nunito, sans-serif;
    font-size: 1.5em;
    margin: 0;
}

.header {
    background-color: #210124;
    padding: 16px;
    display: flex;
    justify-content: center;
}

.header__title {
    font-size: 1.8em;
    font-weight: bold;
    color: white;
}

.content {
    text-align: center;
}

.content__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 32px;
    gap: 16px;
}

.content__task {
    font-weight: bold;
    font-size: 1.2em;
}

.content__results {
    display: flex;
    justify-content: center;
    gap: 56px;
}

.content__results img {
    width: 100px;
    height: 100px;
}

.content__select-armas {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.content__select-armas img {
    width: 100px;
    height: 100px;
}

.content__select-armas button {
    background-color: hsl(140, 39%, 79%);
    border: none;
    border-radius: 8px;
    padding: 32px;
}

.content__select-armas button:hover {
    background-color: hsla(139, 38%, 79%, 0.8);
}

.content__select-armas button:active {
    background-color: hsla(139, 38%, 79%, 0.6);
}

.footer {
    background-color: #750D37;
    display: flex;
    justify-content: center;
    padding: 6px;
    position: fixed;
    width: 100%;
    bottom: 0;
    gap: 8px;
    align-items: center;
}

.footer__author {
    font-size: 0.8em;
    color: white;
}

.footer img {
    width: 0.9em;
    height: 0.9em;
    transition: transform 0.3s ease-in-out;
}

.footer img:hover {
    transform: rotate(360deg) scale(1.2);
    opacity: 0.7;
}